.home {
  background-color: rgb(236, 242, 242);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-container {
  background-color: rgb(59, 68, 70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  max-width: 460px;
  max-height: 700px;
  gap: 30px;
  padding: 20px;
}

.info {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.info-success {
  color: rgb(12, 190, 125);
  font-weight: bold;
  font-size: 14px;
}

.null-div {
  height: 300px;
  background-color: rgb(249, 253, 255);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.image-header {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
  > p {
    font-weight: bold;
    font-size: 18px;
  }
}

.refresh-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refresh-btn:hover {
  background-color: #0056b3;
}

.refresh-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.refresh-btn:active {
  background-color: #004085;
}

.checkbox {
  position: absolute;
  right: 10px;
}

.grid-item {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 

}

.form-style {
  min-width: 340px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.input-container-style {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  display: block;
  font-weight: bold;
  height: 30px;
}

.btn {
  width: 100%;
  pad: 10px;
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  height: 30px;
}

.label-style {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey background */
  border-top: 8px solid #3498db; /* Blue color for the spinning part */
  border-radius: 50%; /* Make it round */
  width: 50px; /* Size of the spinner */
  height: 50px; /* Size of the spinner */
  animation: spin 1.5s linear infinite; /* Animation properties */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 200px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h2 {
  margin: 0;
  color: #28a745;
}

.modal p {
  margin: 10px 0;
}

.modal button {
  padding: 10px 20px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background: #218838;
}

.img-container {
    margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  > span:first-child {
    color: rgb(255, 255, 255);

    font-weight: bolder;
  }
  > span:last-child {
    color: rgb(255, 255, 255);

    font-weight: bolder;
  }
  /* width: ; */
  > img {
    height: 130px;
  }
}

